body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.navbar-brand {
  font-weight: 600;
  letter-spacing: 0.5px;
}

.sidebar-navigation {
  font-size: 0.95rem;
}

/* style.css */
img, .cell-output-display img, figure img {
  max-width: 90%;
  height: auto;
}

.cell-output-display img,
.cell-output-display svg {
  max-width: 90% !important;
  width: 90% !important;
  height: auto !important;
}